@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);

body {
    font-family: 'Jost', sans-serif;
    word-wrap: break-word;
}

.light {
    font-weight: 300;
}

.center {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 125px;
    border-radius: 0px 0px 25px 0px;
}

.entry {
    margin: 25px;
    padding: 0px;
    box-shadow: 0 5px 10px rgba(46, 179, 240, 0.7);
}

.skillentry {
    margin: 25px;
    padding: 0px;
}

.adjust {
    margin: auto;
}

ul {
    list-style: none;
}

li {
    padding-top: 10px;
}

.desc {
    padding: 30px;
    font-size: 18px;
}

.hobbyDesc {
    padding-left: 20px;
    font-size: 18px;
}

.skillLevel {
    text-align: left;
}

.skillIcon {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
}

.projectSkill {
    padding: 2px;
    font-size: 30px;
}

.projectLink {
    color: white;
}

.date {
    font-size: 15px;
    font-weight: 400;
}

.stick {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.temp {
    padding-top: 6750px;
}

.profile {
    max-height: 300px;
    display: block;
    margin: 40px auto 0 auto;
}

.inanutshell {
    box-shadow: 0 5px 10px rgba(46, 179, 240, 0.7);
    padding: 20px;
    background: rgb(1, 81, 82);
    color: white;
}

.innersection {
    padding: 20px;
}

hr.bar {
    border-top: 1px solid white;
    width: 80%;
}

hr.separator {
    border-top: 1px solid black;
    width: 100%;
}

.sectionTitle {
    padding-bottom: 0px;
}

.firstName {
    font-weight: 100;
}

.name {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.button {
    border-radius: 50%;
    margin: 10px 20px 10px 0px;
}

.headerJumbo {
    font-family: 'Vibur';
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.side {
    min-height: 100% !important;
    height: 100vh;
    color: white;
    position: relative;
}

.projCard {
    padding: 10px;
}

.main {
    padding: 60px;
    background: white;
}

.section {
    margin-top: 10px;
    padding: 50px;
    box-shadow: 0 20px 50px rgba(46, 179, 240, 0.7);
}

.hobbyImages {
    padding: 10px;
}

.imageIcon {
    vertical-align: top;
}

.neon {
    user-select: none;
}

.neon {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.flicker-fast {
    animation: flicker 2s linear infinite;
}

.flicker-slow {
    animation: flicker 5s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: .99;
    }
    
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}