@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

body {
    font-family: 'Roboto', sans-serif;
}

.profile {
    max-height: 800px;
    max-width: 300px;
}

.name {
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: 25% 75% auto;
}

.side {
    grid-column-start: 1;
    background: black;
    color: white;
    padding: 40px;
    height: 100vh;
}

.main {
    grid-column-start: 2;
    padding: 40px;
}