@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

body {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

.center {
    display: block;
    margin: 40px auto 0 auto;
}

.profile {
    max-height: 300px;
    display: block;
    margin: 40px auto 0 auto;
}

.name {
    font-size: 40px;
}

.side {
    background: black;
    color: white;
    height: 100vh;
}

.main {
    padding: 0;
}